{% load static %}
<form id="modal_change_pass" action="" method="post">
    {% csrf_token %}
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="changePasswordModalLabel">Change Password</h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cancel"></button>
            </div>

            <div class="modal-body">

            </div>

            <div class="modal-footer">
                <button id="button_creation" type="button" class="btn btn-primary" >Save Changes</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>