{% extends 'administration/home.html' %}
{% load static %}

{% block content %}

{% block extra_css %}
<link rel="canonical" href="https://appstack.bootlab.io/ui-tabs.html">
{% endblock extra_css %}

<form id="form-create-academy" method="post" action="{% url 'administrator:create-academy' %}">
    {% csrf_token %}
    <div class="container-title">
        <h1 class="h3 mb-3">Clase</h1>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'administrator:admin-lesson' %}" class="btn btn-outline-secondary">Cancelar</a>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock content%}