<form id="form_delete_data" method="post" action="{% url 'nerlax:delete-garage-lines' object.pk %}">
    {% csrf_token %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Delete line</h2>
                <button type="button" class="btn-close"
                    data-dismiss="modal"
                    aria-label="Cancel"></button>
            </div>
            <div class="modal-body">
                <p class="delete-text">You are sure you want to delete the parking payment of the apartment <strong>
                    {{ object.apartment }}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="delete_garage_lines({{ object.pk }});">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>