{% load static %}
<form id="form_edit_data" action="{% url 'nerlax:update-garage-lines' object.pk %}" method="post">
    {% csrf_token %}
    <div class="modal-dialog modal-mg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="garageModalLabelEdit">Edit line</h2>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cancel"></button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <p class="col-form-label col-sm-2 text-sm-right">{{ form.apartment.label }}</p>
                    <div class="col-sm-10">
                        {{ form.apartment }}
                    </div>
                </div>
                <div class="form-group row">
                    <p class="col-form-label col-sm-2 text-sm-right">{{ form.amount.label }}</p>
                    <div class="col-sm-10">
                        {{ form.amount }}
                    </div>
                </div>
                {% if request.user.user_type == '1' %}
                <div class="form-group row">
                    <p class="col-form-label col-sm-2 text-sm-right">{{ form.voucher.label }}</p>
                    <div class="col-sm-10">
                        {{ form.voucher }}
                    </div>
                </div>
                <div class="form-group row">
                    <p class="col-form-label col-sm-2 text-sm-right">{{ form.is_paid.label }}</p>
                    <div class="col-sm-10">
                        {{ form.is_paid }}
                    </div>
                </div>
                {% endif %}
                <div class="form-group row">
                    <p class="col-form-label col-sm-2 text-sm-right">{{ form.garage.label }}</p>
                    <div class="col-sm-10">
                        {{ form.garage }}
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button id="button_creation" type="button" class="btn btn-primary" onclick="edit_garage_Lines();">Save
                </button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>