{% extends 'home.html' %}
{% load static %}
{% block content %}
<form id="create_supplier_form" method="post" action="{% url 'settings:create-supplier' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-title">
        <h1 class="h3 mb-3">Supplier</h1>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-primary" onclick="create_supplier();">Save</button>
        <a href="{% url 'settings:kanban-supplier' %}" class="btn btn-outline-secondary">Cancel</a>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="image">
                        <p>{{form.logo.label}}</p>
                        {{ form.logo }}
                    </div>
                    <div class="item">
                        <p>{{form.name.label}}</p>
                        {{form.name}}
                    </div>
                    <div class="item">
                        <p>{{form.nro_documento.label}}</p>
                        {{form.nro_documento}}
                    </div>

                    <div class="item address">
                        <p>{{ form.address.label}}</p>
                        <div class="street">
                            {{ form.address }}
                            {{ form.address2 }}
                            {{ form.city }}
                            <span><p style="color:white"> - </p></span>
                            {{ form.region }}
                            {{ form.postal_code }}
                        </div>
                    </div>
                    <div class="item location">
                        <p>{{ form.mobile.label }}</p>
                        {{ form.mobile }}
                    </div>
                    <div class="item location">
                        <p>{{ form.email.label }}</p>
                        {{ form.email }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'users/js/datatables.js' %}"></script>
<script src="{% static 'users/js/datatables.min.js' %}"></script>
<script src="{% static 'settings/js/index.js'%}"></script>
{% endblock extrajs %}