<form id="delete_supplier_form" method="post" action="{% url 'settings:delete-supplier' object.pk %}">
    {% csrf_token %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Delete Suppliers</h2>
                <button type="button" class="btn-close"
                    data-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="delete-text">Are you sure you want to delete supplier types with title <strong>
                    {{ object }}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="delete_supplier({{ object.pk }});">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</form>