{% extends 'home.html' %}
{% load static %}
{% block content %}
<form id="edit_supplier_form" method="post" action="{% url 'settings:edit-supplier' object.pk %}"
      enctype="multipart/form-data" data-cities-url="{% url 'settings:load-cities' %}">
    {% csrf_token %}
    <div class="container-title">
        <h1 class="h3 mb-3">Edit {{ object }}</h1>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-primary" onclick="update_supplier();">Save</button>
        <a href="{% url 'settings:kanban-supplier' %}" class="btn btn-outline-secondary">Cancel</a>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xl-9">
                <div class="card">

                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <p class="col-form-label col-sm-2 text-sm-left">{{form.name.label}}</p>
                            <div class="col-sm-10">
                                {{form.name}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-2 text-sm-left">{{form.nro_documento.label}}</p>
                            <div class="col-sm-10">
                                {{form.nro_documento}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <p class="col-form-label col-sm-2 text-sm-left">{{ form.address.label}}</p>
                            <div class="col-sm-10">
                                {{ form.address }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-2 text-sm-left"></p>
                            <div class="col-sm-10">
                                {{ form.address2 }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-2 text-sm-left"></p>
                            <div class="col-sm-5">
                                {{ form.region }}
                            </div>
                            <div class="col-sm-5">
                                {{ form.city }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-2 text-sm-left"></p>
                            <div class="col-sm-5">
                                {{ form.postal_code }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-2 text-sm-left">{{form.mobile.label}}</p>
                            <div class="col-sm-10">
                                {{form.mobile}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-2 text-sm-left">{{form.email.label}}</p>
                            <div class="col-sm-10">
                                {{form.email}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <div class="cardheader"></div>
                        <div class="text-center">
                            <img class="avatar img-thumbnail" alt="avatar" width="75%"
                                 src={% if form.instance.logo %} "{{ supplier.logo.url }}" {% else %} "http://ssl.gstatic.com/accounts/ui/avatar_2x.png" {% endif %}/>
                            <div class="mt-2">
                            </div>
                            {{ form.logo }}

                            <!--                    <span class="btn btn-primary">-->
                            <!--                        <svg xmlns="http://www.w3.org/2000/svg"-->
                            <!--                             xmlns:xlink="http://www.w3.org/1999/xlink"-->
                            <!--                             aria-hidden="true" focusable="false" width="1em"-->
                            <!--                             height="1em"-->
                            <!--                             style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"-->
                            <!--                             preserveAspectRatio="xMidYMid meet"-->
                            <!--                             viewBox="0 0 24 24"><g fill="none" stroke="white"-->
                            <!--                                                    stroke-width="2"-->
                            <!--                                                    stroke-linecap="round"-->
                            <!--                                                    stroke-linejoin="round"><path-->
                            <!--                                d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><path-->
                            <!--                                d="M17 8l-5-5l-5 5"/><path-->
                            <!--                                d="M12 3v12"/></g></svg> Upload</span>-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'users/js/datatables.js' %}"></script>
<script src="{% static 'users/js/datatables.min.js' %}"></script>
<script src="{% static 'settings/js/index.js'%}"></script>
{% endblock extrajs %}