{% load static %}

<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="addSupplierLabel">Supplier</h2>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <table id="msupplier_table" class="table">
                <thead>
                <tr>
                    <th class="cell100 column2">Name</th>
                    <th class="cell100 column2">Address</th>
                    <th class="cell100 column1" style="text-align: center">
                        Mobile
                    </th>
                    <th class="cell100 column3">Email</th>
                    <th class="cell100 column3" width="3%">Actions</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
