{% extends 'home.html' %}

{% load static %}

{% block content %}
<form id="edit_unit_form" method="post" action="{% url 'nerlax:update-unit' object.pk %}">
    {% csrf_token %}
    <div class="container-title">
        <h1 class="h3 mb-3">Edit {{ object }}</h1>
    </div>
    <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-primary" onclick="edit_unit();">Save</button>
        <a href="{% url 'nerlax:unit' %}" class="btn btn-outline-secondary">Cancel</a>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="col-sm-6">
<!--                        <div class="form-group row">-->
<!--                            <p class="col-form-label col-sm-4 text-sm-left">{{ form.name.label }}</p>-->
<!--                            <div class="col-sm-8">-->
<!--                                {{ form.name }}-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="form-group row">
                            <p class="col-form-label col-sm-4 text-sm-left">{{ form.number.label }}</p>
                            <div class="col-sm-4">
                                {{ form.flat }}
                            </div>
                            <div class="col-sm-4">
                                {{ form.number }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-4 text-sm-left">{{ form.renter.label }}</p>
                            <div class="col-sm-8">
                                {{ form.renter }}
                            </div>

                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-4 text-sm-left">{{ form.building_id.label }}</p>
                            <div class="col-sm-8">
                                {{ form.building_id }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-4 text-sm-left">{{ form.rent_price.label }}</p>
                            <div class="col-sm-8">
                                {{ form.rent_price }}
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <p class="col-form-label col-sm-4 text-sm-left">{{ form.init_date.label }}</p>
                            <div class="col-sm-8">
                                {{ form.init_date }}
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-4 text-sm-left">{{ form.renovation_date.label }}</p>
                            <div class="col-sm-8">
                                {{ form.renovation_date }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-4 text-sm-left">{{ form.expiration_date.label }}</p>
                            <div class="col-sm-8">
                                {{ form.expiration_date }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="col-form-label col-sm-4 text-sm-left">{{ form.meter_qty.label }}</p>
                            <div class="col-sm-8">
                                {{ form.meter_qty }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row col-sm-12">
                        <p class="col-form-label col-sm-2 text-sm-left">{{ form.description.label }}</p>
                        <div class="col-sm-10">
                            {{ form.description }}
                            <small>By signing you declare that all information
                                you have entered is truthful and accurate.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block extrajs %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/datatables.min.js"></script>
<script src="{% static 'building/js/index.js'%}"></script>
{% endblock extrajs %}