{% extends 'home.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/datatables.min.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container-title">
    <h1 class="h3 mb-3">Users</h1>
</div>
<div class="d-grid gap-2 d-md-block">
    <a href="{% url 'login:create-users' %}" class="btn btn-primary">
        Create
    </a>
    <button type="button" class="btn btn-outline-secondary">
        Import
    </button>

</div>
<br/>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <table id="table_users" class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="cell100 column1">First name</th>
                        <th class="cell100 column4">Last name</th>
                        <th class="cell100 column3">User</th>
                        <th class="cell100 column4">Email</th>
                        <th class="cell100 column4">User type</th>
                        <th class="cell100 column4" width="3%">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="usersModalDelete" tabindex="-1"
     aria-labelledby="usersModalDeleteLabel" aria-hidden="true">

</div>
{% endblock content %}
{% block extrajs %}
<script src="{% static 'users/js/datatables.js' %}"></script>
<script src="{% static 'users/js/datatables.min.js' %}"></script>
<script src="{% static 'users/js/index.js'%}"></script>
{% endblock extrajs %}

