{% extends 'home.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/datatables.min.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container-title">
    <h1 class="h3 mb-3">Common expenses</h1>
</div>

<div class="d-grid gap-2 d-md-block">
    <a class="btn btn-primary" href="{% url 'nerlax:create-ce' %}">
        Create
    </a>
    <button type="button" class="btn btn-outline-secondary">
        Import
    </button>

</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <table id="common_expenses_table" class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="cell100 column3">Building</th>
                            <th class="cell100 column1" style="text-align: center">Payment date</th>
                            <th class="cell100 column1" style="text-align: center">Amount</th>
                            <th class="cell100 column3" width="3%">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Wizard for create common Expenses -->
<div class="modal fade" id="commonExpensesModalDelete" tabindex="-1"
     aria-labelledby="commonExpensesModalDeleteLabel" aria-hidden="true">

</div>

{% endblock content %}

{% block extrajs %}
<script src="{% static 'users/js/datatables.js' %}"></script>
<script src="{% static 'users/js/datatables.min.js' %}"></script>
<script src="{% static 'building/js/index.js'%}"></script>
{% endblock extrajs %}
