<form id="delete_ce_form" method="post" action="{% url 'nerlax:delete-ce' object.pk %}">
    {% csrf_token %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Delete Common expenses</h2>
                <button type="button" class="btn-close"
                        data-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="delete-text">Are you sure you want to delete common
                    expenses common expenses of apartment
                    <strong>{{ object.apartment }}</strong> dated <strong>
                        {{ object.payment_date }}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="delete_common_expenses({{ object.pk }});">Delete</button>
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</form>